@tailwind base;
@tailwind components;
@tailwind utilities;

.wordSpaced {
  letter-spacing: 1em;
}

.card {
  color: #374151;
}
.card h3 {
  color: #0163b3;
  font-size: 16px;
}
.card p {
  font-size: 13px;
}

.card:hover h3 {
  color: white;
}

/* src/index.css */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.cookie-banner-enter {
  animation: slideUp 0.3s ease-out forwards;
}

.cookie-banner-exit {
  animation: slideUp 0.3s ease-in reverse forwards;
}
